:root {
    --black: #000000;
    --deep-blue: #05099E;
    --purple: #7536CC;
    --red: #7B060F;
    --light-blue: #5C9BC8;
    --brown: #491d1E;
    --white: #FFFFFF;

    --card-width: 270px;
    --card-height: 420px;
    --card-inner-border: 10px;
    --card-outer-border: 1px;
}

body, html {
    height: 100%;
    background: var(--black);
}

body {
    background-image: url("@/assets/screens/background.jpg") !important;
    background-size: cover;
}

* {
    font-family: "Montserrat", serif !important;
    padding: 0;
    background: transparent;
}

.material-icons {
    font-family: "Material Icons", serif !important;
}

@media (max-width: 900px) {
    body {
        background-image: url("@/assets/screens/background-vertical.jpg") !important;
    }
}