:root {
    --black: #000000;
    --deep-blue: #05099E;
    --purple: #7536CC;
    --red: #7B060F;
    --light-blue: #5C9BC8;
    --brown: #491d1E;
    --white: #FFFFFF;

    --card-width: 270px;
    --card-height: 420px;
    --card-inner-border: 10px;
    --card-outer-border: 1px;
}

body, html {
    height: 100%;
    background: var(--black);
    overflow: hidden;
}

body {
    background-image: url("@/assets/screens/bg.jpg") !important;
    background-position: center;
    background-size: cover;
    margin: 0;
}

* {
    font-family: "Montserrat", serif !important;
    padding: 0;
    background: transparent;
}

.material-icons {
    font-family: "Material Icons", serif !important;
}

.header-text {
    font-size: 48px;
    text-align: center;
}

.text-block {
    margin-bottom: 20px;
    font-size: 24px;
}

.italic {
    font-style: italic;
}