:root {
    --black: #000000;
    --deep-blue: #05099E;
    --purple: #7536CC;
    --red: #7B060F;
    --light-blue: #5C9BC8;
    --brown: #491d1E;
    --white: #FFFFFF;
}

body, html {
    height: 100%;
    background: var(--black);
}

* {
    font-family: "Montserrat", serif !important;
    padding: 0;
    background: var(--black);
}

.material-icons {
    font-family: "Material Icons", serif !important;
}